@font-face {
  font-family: "DIN";
  font-display: swap;
  src: url("../fonts/din1451alt.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 0.7vw;
  background: #393528;
}

::-webkit-scrollbar-thumb {
  background: #2e4f6b;
}

* {
  box-sizing: border-box;
  font-family: "DIN", helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-aspect-ratio: 1/1) {
  body,
html {
    font-size: 1.75rem;
  }
}

.navbar {
  top: -70px;
  transition: top 0.2s ease-out;
}
.navbar .navbar-nav .nav-link {
  color: #ebebeb;
}
.navbar .navbar-nav .nav-link:hover {
  color: white;
}
.navbar .nav-item {
  margin: 0 2%;
  font-size: 1.1rem;
}

.page {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #393528;
  background-color: #ebebeb;
  text-align: center;
}
.page .subHeader {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.page .subHeader div {
  margin-top: 3em;
}
.page .header {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.page h1,
.page h2 {
  cursor: default;
  margin: 1rem;
}

/* Landing page */
#home {
  background-color: #252934;
  color: whitesmoke;
  background-image: url(https://res.cloudinary.com/lkaratun/image/upload/q_30/v1535470462/portfolio/toronto_bg_web.jpg);
  background-size: cover;
  background-position: bottom;
  align-items: center;
  justify-content: center;
}
#home #downArrow {
  width: 150px;
  height: 80px;
}
#home #downArrow .shape {
  fill: none;
  stroke: #2e4f6b;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 3px;
}
#home #downArrow:hover .shape {
  stroke: white;
}

#photo {
  display: block;
  object-fit: scale-down;
  object-position: 0 0;
  width: 50%;
  border-radius: 50%;
  margin: 2%;
  float: left;
}
@media screen and (max-aspect-ratio: 1/1) {
  #photo {
    width: 70%;
    float: none;
    margin: 0 auto 5% auto;
  }
}

#about {
  padding: 0% 5%;
  box-sizing: content-box;
  justify-content: flex-start;
  align-items: center;
}
#about #bio {
  margin: 2rem 0;
  max-width: 45rem;
}
#about .card-group {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  margin-bottom: 5vh;
}
#about .card-group .card {
  display: block;
  min-width: 15rem;
  flex-shrink: 0;
}
@media screen and (max-aspect-ratio: 1/1) {
  #about .card-group .card {
    flex-shrink: 0;
    min-width: 60%;
  }
}
#about .card-group table.table {
  margin-bottom: 0;
}

#projects {
  height: auto;
  min-height: 50vh;
  background: whitesmoke;
}
#projects .projectsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}
#projects h3 {
  min-width: 30vw;
  margin: 1rem;
}
#projects .projectCard {
  width: 70vw;
  min-width: 25rem;
  box-sizing: border-box;
  background-color: #ebebeb;
  margin: 1vh 1vh 3vh 1vh;
  padding: 1vh 2vh 1vh 4vh;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
}
#projects .projectCard ul,
#projects .projectCard ol {
  padding-left: 1em;
  box-sizing: border-box;
}
#projects .projectCard label,
#projects .projectCard .inline-header {
  display: inline;
}
#projects .projectCard h5 {
  margin: 0.5rem 1rem 0 1rem;
}
#projects .projectCard a {
  color: #2e4f6b;
}
#projects .projectCard article {
  text-align: left;
}
#projects .projectCard aside {
  width: 50%;
  float: right;
  position: relative;
  padding: 0.5vw;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
#projects .projectCard aside .enlarge {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7%;
  border: 1px solid #393528;
  border-radius: 5px;
  padding: 1%;
  transform: scale(2) translate(-25%, -40%);
  opacity: 0;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
#projects .projectCard aside .hidden {
  display: none;
}
#projects .projectCard aside.expanded {
  width: 100%;
  transition: all 0.2s ease-out;
}
#projects .projectCard aside:hover .enlarge {
  opacity: 0.5;
  transition: all 0.1s ease-out;
}
#projects .projectCard aside a {
  margin: 0.5em;
  display: inline-block;
  font-size: 1.3em;
}
#projects .projectCard img {
  width: 100%;
}
#projects .projectCard .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2e4f6b;
  opacity: 0.9;
  transition: all 0.25s ease-out;
  overflow: hidden;
}
#projects .projectCard .overlay .project-link {
  opacity: 0;
  transition: all 0.25s ease-out;
}
#projects .projectCard .overlay .description {
  width: 80%;
  height: 100%;
  left: 10%;
  top: 30%;
  position: absolute;
  color: #ebf3fa;
  overflow: hidden;
  font-size: 1rem;
}
@media screen and (max-aspect-ratio: 1) {
  #projects .projectCard .overlay .description {
    top: 5%;
    left: 5%;
  }
}
#projects .projectCard .overlay .description .projectName {
  font-size: 135%;
  color: whitesmoke;
}
#projects .projectCard:hover .project-link {
  opacity: 1;
  transition: all 0.1s ease-out;
}

#contacts {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  position: relative;
  min-height: 40vh;
}
#contacts h4 {
  margin-top: 2rem;
}
#contacts .subHeader {
  margin: 0;
}
#contacts a {
  color: #393528;
}
#contacts a object {
  width: 1.5rem;
  margin: 1rem;
  vertical-align: middle;
}
#contacts a:hover {
  color: #867d5f;
  text-decoration: none;
}

#contacts::after {
  content: "";
  background: url(../toronto_skyline.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  opacity: 0.2;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
