@use 'colors';

#contacts {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  position: relative;
  min-height: 25vh;
  @media screen and (max-width: 900px) {
    min-height: 25vh;
  }

  h4 {
    margin-top: 2rem;
  }
  .subHeader {
    margin: 0;
  }

  a {
    color: colors.$graphite;
    object {
      width: 1.5rem;
      margin: 1rem;
      vertical-align: middle;
    }
  }

  a:hover {
    color: colors.$graphiteHighlight;
    text-decoration: none;
  }
}

// Footer
#contacts::after {
  content: "";
  background: url(../images/vancouver_skyline.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  opacity: 0.2;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  height: 100px;
}
