@use 'colors';
@use 'layout';
@use 'navbar';
@use 'homePage';
@use 'aboutPage';
@use 'projectsPage';
@use 'contactsPage';

@font-face {
  font-family: "DIN";
  font-display: swap;
  src: url("../fonts/din1451alt.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 0.7vw;
  background: colors.$graphite;
}

::-webkit-scrollbar-thumb {
  background: colors.$darkBlue;
}

* {
  box-sizing: border-box;
  font-family: "DIN", helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 22px;
  @media screen and (max-width: 900px) {
    font-size: 30px;
  }
}

.page {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: colors.$graphite;
  background-color: colors.$lightGray;

  .subHeader {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    div {
      margin-top: 3em;
    }
  }

  .header {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  h1,
  h2 {
    cursor: default;
    margin: 1rem;
  }
}
