@use 'styles/colors';

#contacts {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	position: relative;
	min-height: 10rem;
	text-align: center;

	@media screen and (max-width: 900px) {
		min-height: 15vh;
	}

	h4 {
		margin-top: 2rem;
	}

	.subHeader {
		margin: 0;
	}

	a,
	svg {
		color: colors.$graphite;
	}
	svg {
		width: 1.5rem;
		margin: 0.5rem;
		vertical-align: middle;
	}
	a:hover {
		color: colors.$graphiteHighlight;
		text-decoration: none;
	}

	.icon-email {
		width: 1.5rem;
		height: 1.5rem;
	}
}
