$dark-gray: #252934;
$light-gray: #eaeaea;
$gray: hsl(0, 0%, 90%);
$scrollBarWidth: 0.7vw;
$scrollBarColor: 	hsl(208, 40%, 30%);
$logoImgHeight: 10vh;


* {
	box-sizing: border-box;
}
body,html {
	margin: 0;
	padding: 0;
}

.scrolling-box {
  background-color: $light-gray;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
}
::-webkit-scrollbar {
	width: $scrollBarWidth;  /* remove scrollbar space */
}
::-webkit-scrollbar-thumb {
	/* background: #343A40; */
	background: $scrollBarColor;
}
.navbar-nav>.nav-item {
	margin: 0 2%;
}
.navbar {
	margin-right: $scrollBarWidth;
}

.page {
	height: 100vh;
	/* background-color: hsla(208, 49%, 50%, 0.69); */
	margin: auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	// width: 70vw;
}

/* Landing page */
#home {
background-color:  $dark-gray;
color: white;
background-image: url("dark-evening.jpg");
background-size: cover;
}

#about {
	// width: 80vw;
	#bio{
	font-size: 1.5rem;
	// display: inline-block;
}
 #skills {
	 display: flex;
	 flex-flow: row wrap;
	 align-items: center;
	 justify-content: space-between;
	 div{
		 background-color:$gray;
		//  border: 1px solid black;
		border: none;
		 margin: 1%;
		 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.48);
	 }
	 img{
		//  width: auto;
		 height: $logoImgHeight;
		 padding: 1vw;
		 box-sizing: content-box;
		 
	 }
 }
	padding: 5% 15%;

}