$graphite: hsl(45, 17%, 19%);
$graphiteHighlight: hsl(45, 17%, 45%);
$darkGray: #252934;
$lightGray: hsl(0, 0%, 92%);
$lighterGray: hsl(0, 0%, 96%);
$gray: hsl(0, 0%, 88%);
$darkBlue: hsl(208, 40%, 30%);
$lightBlue: hsl(208, 60%, 95%);
