@use 'layout';
@use 'colors';
@use 'readMore';

#projects {
	height: auto;
	min-height: 50vh;
	background: colors.$lighterGray;

	.projectsContainer {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: center;
	}

	h2 {
		margin-left: auto;
		margin-right: auto;
	}
}
