@use 'layout';
@use 'colors';
@use 'mixins';

#projects {
	@include layout.centered;
	height: auto;
	min-height: 50vh;
	background: colors.$light-gray;
	padding: 120px 80px;
	display: flex;
	flex-flow: row wrap;

	.subheading {
		@include mixins.heading-secondary;
	}

	.projects-container {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: center;
	}

	h1 {
		@include mixins.heading;
		margin-left: auto;
		margin-right: auto;
	}

	.cp-project-card {
		margin: 10px;
		width: 40%;
		flex-grow: 0;
		flex-shrink: 0;
	}
}
