@use 'colors';
@use 'layout';
@use 'mixins';

#skills {
	@include layout.centered;

	background: white;
	display: flex;

	.content {
		display: block;
		padding: 100px 80px;
	}

	h1 {
		@include mixins.heading;
	}

	h2 {
		@include mixins.heading-small;

		display: flex;
		align-items: center;
	}

	.subheading {
		@include mixins.heading-secondary;
	}

	[class^='icon'] {
		margin-right: 16px;
	}

	p {
		margin-bottom: 52px;
	}

	img {
		flex-shrink: 0;
		width: 45%;
		object-fit: cover;
	}
}
