@use 'colors';
@use 'layout';
@use 'mixins';

#skills {
	@include layout.centered;

	background: white;

	padding: 120px 20%;

	.content {
		display: block;
	}

	h1 {
		@include mixins.heading;
	}

	h2 {
		@include mixins.heading-small;

		display: flex;
		align-items: center;
	}

	.subheading {
		@include mixins.heading-secondary;
	}

	[class^='icon'] {
		margin-right: 16px;
	}

	p {
		margin-bottom: 52px;
	}
}
