@use 'colors';
@use 'layout';
@use 'mixins';

#about {
	@include layout.centered;

	background: #f8f6fa;

	padding: 120px 15%;

	.content {
		display: block;
	}

	h1 {
		@include mixins.heading;
	}

	.subheading {
		@include mixins.heading-secondary;
	}

	p {
		color: rgba(116, 116, 134, 1);
		margin-bottom: 0.5rem;
	}
}
