@use 'colors';
@use 'layout';

#about {
	@include layout.centered;

	background: #f8f6fa;

	padding: 120px 20%;

	.content {
		display: block;
		// margin: auto;
	}

	h1 {
		color: rgba(9, 0, 87, 1);
		font-size: 48px;
		margin-bottom: 32px;
	}

	p {
		color: rgba(116, 116, 134, 1);
	}
}
